In [17]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

https://www.kaggle.com/code/sohaibhussain/predict-wine-quality-using-knn

https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/

In [2]:
df = pd.read_csv('winequality-red.csv',sep=';')

In [3]:
df.shape

(1599, 12)

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [7]:
for index,row in df.iterrows():
    if df['quality'][index] > 5:
        df['quality'][index] = 1
    else:
        df['quality'][index] = 0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [9]:
df.duplicated().value_counts()

False    1359
True      240
dtype: int64

In [10]:
df = df.drop_duplicates().reset_index(drop = True)

In [11]:
df.shape

(1359, 12)

In [12]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0

In [14]:
X = df.iloc[:,:-1]

In [15]:
y = df.iloc[:,-1]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

Kfold Cross Validation

In [20]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [66]:
n_folds = 10

In [87]:
neighbors = list(range(1,50,2))

In [88]:
cv = KFold(n_splits = n_folds, shuffle=True, random_state=1)

In [89]:
score = []

In [90]:
for k in neighbors:
    model = KNeighborsClassifier(k)
    scores =cross_val_score(model,X_train,y_train,cv=cv,scoring='accuracy',n_jobs=-1)
    score.append(scores.mean())

In [91]:
score

[0.6007220523275569,
 0.647646958885491,
 0.6393391097519537,
 0.6476214746856949,
 0.6577981651376147,
 0.662376826367652,
 0.6614424057084607,
 0.6642201834862385,
 0.6669979612640162,
 0.663302752293578,
 0.6632602786272511,
 0.6604909955827386,
 0.6651206252123683,
 0.6577811756710841,
 0.6531855249745158,
 0.6559633027522935,
 0.6458460754332314,
 0.6550288820931022,
 0.6587240910635407,
 0.6550373768263676,
 0.6522680937818552,
 0.6550543662928984,
 0.6513421678559294,
 0.6633197417601088,
 0.6596160380564051]

In [92]:
misclassification_errors = [1-x for x in score]

In [93]:
optimal_k = neighbors[misclassification_errors.index(min(misclassification_errors))]

In [94]:
optimal_k

17

KNN

In [95]:
from sklearn.metrics import accuracy_score

In [96]:
model = KNeighborsClassifier(optimal_k)
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=17)

In [97]:
y_pred = model.predict(X_test)

In [98]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.6213235294117647